body {
    background-color: dodgerblue !important
}

#myCarousel {
    margin-top: 100px;
    margin-bottom: 100px;
}

#jumbotron {
    margin-top: 150px !important;
    margin-bottom: 50px !important;
    border-radius: 20px !important;
    background-color: yellow !important;
}
.lead {
    text-align:center;

}

#rows {
    margin-top: 30px;
    background-color: whitesmoke !important;
    border-radius: 20px !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.carousel-inner > .item > img {
    width: 100% !important;
    height: 500px !important;
}
.nav-link:hover {
    color: dodgerblue ;
}

.card-deck {
    margin-top: 50px;
    margin-bottom: 100px;
}

.card-img-top {
    height: 300px;
}
