
#body {
    background-color: dodgerblue !important;
}

#navBar {
    background-color: white !important;
}
#navBarContainer {
    margin: 4px !important;
}

#jumbotron {
    margin-top: 150px !important;
    margin-bottom: 50px !important;
}


#logo {
    height: 60px !important;
    width: 100px !important;
}

.navbar-brand {
    margin-left: 15px !important;
}


.nav-item:hover {
        background-color: dodgerblue !important;
    }


.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}